.pointer {
  cursor: pointer;
}

.program-navigator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 65%;

  .card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 450px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-out;
    background-color: white;

    .title-container {
      width: 100%;
      @include flex-center;

      .title-card {
        font-size: 30px;
        backdrop-filter: blur(5px);
      }
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }
  }

  //!MAN!//
  //LEGS
  .man-legs {
    background-image: url("../../../../public/images/programs/man/legs.jpg");
  }

  //CARDIO
  .man-cardio1 {
    background-image: url("../../../../public/images/programs/man/cardio1-man.jpg");
  }
  .man-cardio2 {
    background-image: url("../../../../public/images/programs/man/cardio2-man.jpg");
  }

  //UPPER BODY
  .man-high-body1 {
    background-image: url("../../../../public/images/programs/man/high-body1-man.jpg");
  }
  .man-high-body2 {
    background-image: url("../../../../public/images/programs/man/high-body2-man.jpg");
  }

  //FULLBODY
  .man-full-body1 {
    background-image: url("../../../../public/images/programs/man/fullbody1-man.jpg");
  }
  .man-full-body2 {
    background-image: url("../../../../public/images/programs/man/fullbody2-man.jpg");
  }
  .man-full-body3 {
    background-image: url("../../../../public/images/programs/man/fullbody3-man.jpg");
  }

  //!WOMAN!//
  //LEGS
  .woman-legs {
    background-image: url("../../../../public/images/programs/woman/legs-woman.jpg");
  }

  //CARDIO
  .woman-cardio1 {
    background-image: url("../../../../public/images/programs/woman/cardio1-woman.jpg");
  }
  .woman-cardio2 {
    background-image: url("../../../../public/images/programs/woman/cardio2-woman.jpg");
  }

  // UPPER BODY
  .woman-high-body1 {
    background-image: url("../../../../public/images/programs/woman/high-body1-woman.jpg");
  }
  //(Same as 1)
  .woman-high-body2 {
    background-image: url("../../../../public/images/programs/woman/high-body1-woman.jpg");
  }

  // FULLBODY
  .woman-full-body1 {
    background-image: url("../../../../public/images/programs/woman/fullbody1-woman.jpg");
  }
  //(Same as 1)
  .woman-full-body2 {
    background-image: url("../../../../public/images/programs/woman/fullbody1-woman.jpg");
  }
  //(Same as 1)
  .woman-full-body3 {
    background-image: url("../../../../public/images/programs/woman/fullbody1-woman.jpg");
  }
}
