.login-form-container {
  background-image: linear-gradient(to right, #1d1e27, #111111);
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .login-form-and-image-container {
    display: flex;

    .login-form-image-container-1,
    .login-form-image-container-2,
    .login-form-image-container-3,
    .login-form-image-container-4 {
      width: 640px;
      height: 540px;
      background-position: center;
      background-size: cover;
      border-radius: 0 10px 10px 0;
    }

    .login-form-image-container-1 {
      background-image: url('../../../../public/images/login-image-enhanced.jpeg');
    }

    .login-form-image-container-2 {
      background-image: url('../../../../public/images/login-image-2-enhanced.jpeg');
    }

    .login-form-image-container-3 {
      background-image: url('../../../../public/images/login-image-3-enhanced.jpeg');
    }
  }
}

$gradient-background-left: linear-gradient(to left, #1d1e27, #111111);
.login-form {
  @include flex-col;
  justify-content: center;
  background-image: linear-gradient(to right, #1d1e27, #111111);
  gap: 20px;
  color: white;
  width: 600px;
  padding: 20px;
  margin: auto;
  height: 540px;
  border-radius: 10px 0 0 10px;
  background-color: white;

  h2 {
    font-size: 28px;
    text-align: center;
  }

  .icon {
    cursor: pointer;
  }

  .error-container {
    .error-message {
      color: red;
      font-size: 16px;
    }
  }

  .no-account, .login-issue {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 525px;

    span {
      opacity: 60%;
    }
  }
}

.input-login {
  width: 525px !important;
  height: 50px;
}

//Also for register form
.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 6px;
  margin: 15px auto;
  transform: scale(1.5);

  svg {
    width: 18px;
    color: #222222;
  }
  input {
    font-size: 12px;
    width: 100%;
    color: #222222;
    background-color: inherit;
    height: 20px;
  }
  select {
    outline: none;
    height: 100%;
    border: none;
    width: 100%;
  }
  input:focus {
    outline: none;
  }

  i {
    font-size: 15px;
  }
}

.input-form:focus {
  outline: none;
}
