.form-container{
    @include flex-centre;
    flex-direction: column;
    width: 100%;
    max-width: 1250px;
    height: 100%;

    h2 {
        margin-bottom: 30px;
    }

    .form{
        @include flex-centre;
        flex-direction: column;
        gap: 30px;
        width: 40%;

        .input{
        }

        select{
            color: black;
        }

        .submit-button{
            width: 100%;
            margin: 0;
        }
    }
}




//////////////////////////////

.profile-form {
    @include flex-centre;
    flex-direction: column;
    gap: 15px;

    .input-form{
        select{
            color: black;

        }

        input {
            border-radius: 10px;
            font-size: 15px;
            padding: 0 5px;
        }
    }

    .visible, #sexe{
        cursor: pointer;
    }



        .submit-button{
            width: 530px;
            height: 50px;
        }


    }


input[type="date"]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}

.container {
    @include flex-centre;
}

.gap-10 {
    gap: 10px;
}

.column-container,  {
    @include flex-centre;
    flex-direction: column;

    h2{
        margin-top: 20px;
    }

    .icon {
        cursor: pointer;
        font-size: 27px;
        transition: $primary-transition;

        &:hover{
            color: $bleu;
        }
    }
}

//Paramètres personnels
.container-column{
    h2 {
        margin-top: 20px;
    }

    .icon {
        cursor: pointer;
        font-size: 27px;
        transition: $primary-transition;

        &:hover{
            color: $bleu;
        }
    }

}

.logo {
    width: 20px;
}

i {
    color: black;
}

h2, input {
    font-family: $primary-font;
}

.title-inscription-form {
    text-align: center;
    @include flex-centre;
    gap: 15px;
}

