.selection-button {
  padding: 7px;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: $secondary-border-radius;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.selection-button:active {
  transform: scale(0.9);
}

.submit-button {
  background-color: $bleu;
  color: inherit;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 550px;
  font-size: 17px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    background-color: $bleu;
  }
}

.button-submit {
  width: 525px;
  margin-top: 5px;
  background-color: #3e8bd0;
  height: 50px;
}

.stay-in-touch-button {
  @include blue-button(350px, 40px);
  z-index: 3;
  height: 60px;
  margin: 10px;
}

.button-update-form{
  margin-top: 20px;
  margin-bottom: 20px;
}
