.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(to right, #1d1e27, #111111);
  color: white;
  width: 40%;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  button {
    margin-top: 15px;
  }
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  padding: 6px;
  margin: 15px auto;
  transform: scale(1.5);
  svg {
    width: 20px;
    color: #222222;
  }
  input {
    border: none;
    width: 100%;
    color: #222222;
    background-color: inherit;
  }
  select {
    outline: none;
    height: 100%;
    border: none;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
}

.input-form:focus {
  outline: none;
}

.submit-button {
  background-color: $bleu;
  color: inherit;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.button-login-form {
  margin-bottom: 20px;
  transform: scale(1.5);
}
