.profile-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.selection-button {
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}