.details-exo-container {
   @include flex-col;

   .details-under-container {
      @include flex-col;
      width: 50%;

      p {
         text-align: center;
      }

      .title-details {
         font-size: 35px;
         text-align: center;
      }

      .icon {
         font-size: 25px;
         margin: 10px 0;
      }

      img {
         padding: 20px !important;
         border-radius: 40px;
      }

      .exercise-card {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         height: 200px;
         width: 400px;
         background-image: $gradient-background-left;

         .title-card {
            text-align: center;
            font-size: 20px;
         }

         p {
            padding-bottom: 40px;
         }
      }

      .gif-and-muscles-img-container{
         margin-top: 20px;
         display: flex;

         .gif-container, .muscles-img-container{
            @include flex-col;
         }
      }
   }
}
