.sport-type-container {
   .flex-container {
      gap: 20px;
      padding: 20px;

      .warm-up-card,
      .exo-card {
         @include flex-col;
         width: 330px;
         background-image: $gradient-background-left;

         .title-card-list {
            text-align: center;
            margin: 0 0 10px 0;
         }
      }
   }
}
