.top-bar-navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 20px;

  .top-bar-navigation {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 20px;
      color: white;

      &:hover {
        color: $bleu;
      }
    }

    span {
      font-size: 20px;
    }
  }
}
