@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);  /* la carte commence complètement à droite */
    opacity: 0;  /* la carte est entièrement transparente */
  }
  100% {
    transform: translateX(0);  /* la carte se déplace vers sa position d'origine */
    opacity: 1;  /* la carte devient pleinement visible */
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);  /* l'élément commence complètement en bas */
    opacity: 0;  /* l'élément est entièrement transparent */
  }
  100% {
    transform: translateY(0);  /* l'élément se déplace vers sa position d'origine */
    opacity: 1;  /* l'élément devient pleinement visible */
  }
}