.programs-main-container {
  @include flex-col-center-justify-between;

  .title-container {
    @include flex-col-center;
  }

  .navigation-buttons-container {
    @include flex-center;
    gap: 20px;
  }
}

.dropdown-absolute {
  position: absolute;
  margin: 10px;
  left: 220px;
  top: 0;
  cursor: pointer;
}
